# --- ОСНОВНОЕ ---
/node_modules
/vendor
.env
.env.backup
.env.production
auth.json
Homestead.json
Homestead.yaml

# --- LARAVEL STORAGE (Временные файлы) ---
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/pail
/storage/debugbar
*.key

# --- EVIDENCE & REPORTS (Приватные данные) ---
# Мы игнорируем все файлы в папке репортов, кроме .gitignore
/storage/app/public/reports/*
!/storage/app/public/reports/.gitignore

# --- PUBLIC ASSETS ---
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

# --- ЛОГИ ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- ТЕСТЫ ---
.phpunit.result.cache
/.phpunit.cache

# --- IDE & СИСТЕМА ---
.DS_Store
Thumbs.db
/.idea
/.vscode
/.vscode-server
/.cursor/
/.nova
/.zed
/.codex
.local/
.npm/
.cache/
_ide_helper.php